<header class='padding-20 primary-header' role='banner'>
  <h1>Playground for testing purpose only</h1>
</header>
<main class='content main-content' role='main'>
  <div class='navigation-list-container'>
    <div class='navigation-list-container-content'>
      <mat-nav-list>
        <a mat-list-item fragment='text' routerLink='/editable-input/text' routerLinkActive='active-link'>
          <span matLine>Text Input</span>
        </a>
        <a mat-list-item fragment='number' routerLink='/editable-input/number' routerLinkActive='active-link'>
          <span matLine>Number Input</span>
        </a>
        <a mat-list-item fragment='decimal' routerLink='/editable-input/decimal' routerLinkActive='active-link'>
          <span matLine>Decimal Input</span>
        </a>
        <a mat-list-item fragment='date' routerLink='/editable-input/date' routerLinkActive='active-link'>
          <span matLine>Date Input</span>
        </a>
        <a mat-list-item fragment='custom-field' routerLink='/editable-input/custom-field'
           routerLinkActive='active-link'>
          <span matLine>Custom Field Input</span>
        </a>
        <a mat-list-item fragment='dropdown' routerLink='/editable-input/dropdown'
           routerLinkActive='active-link'>
          <span matLine>Dropdown Input</span>
        </a>
      </mat-nav-list>
    </div>
  </div>
  <div class='router-outlet-container'>
    <router-outlet></router-outlet>
  </div>
</main>
