<div class="text-center">
  <div class="logo"></div>
  <mat-divider class="padding-bottom-20"></mat-divider>
  <form class="logon-form" *ngIf="!!data && !!config" #logonForm="ngForm">
    <div>
      <tcp-dropdown-input
        [dropdownInput]="data.createCompanyDropdownInput(config.StrSelectCompany, selectChangeHandler.bind(this))"></tcp-dropdown-input>
    </div>
    <div *ngIf="data?.ObjSelectedCompany?.ObjCustomFieldControlModelLogOnId">
      <tcp-editable-input
        [editableInput]="data?.ObjSelectedCompany?.ObjCustomFieldControlModelLogOnId"></tcp-editable-input>
    </div>
    <div *ngIf="data?.ObjSelectedCompany?.ObjCustomFieldControlModelLogOnEmployeePin && shouldShowPIN">
      <tcp-editable-input
        [editableInput]="data?.ObjSelectedCompany?.ObjCustomFieldControlModelLogOnEmployeePin"></tcp-editable-input>
    </div>
    <div class="padding-bottom-20 padding-top-20">
      <button mat-flat-button color="primary" (click)="authenticate()">{{config?.StrLogOn}}</button>
    </div>
    isFormValid:  {{logonForm.form.valid}}
  </form>
</div>
