@import "Defaults";

$clientVersion: $defaultClientVersion;
$companyId: $defaultCompanyId;
$fontFamily: $defaultFontFamily;
$logoBlue: $defaultColor2; // COLOR2
$logoGreen: $defaultColor1; // COLOR1
$namespace: $defaultNamespace;
