<form #inputForm='ngForm' (ngSubmit)='submitForm()'>
  <section id='text'>
    <h2>Text Input</h2>
    <div *ngFor='let input of mocksTextInputs | keyvalue'>
      <tcp-editable-input [editableInput]='input.value' class='input-common'></tcp-editable-input>
      <button (click)='showDetail(input.value)' mat-icon-button type='button'>
        <mat-icon>info</mat-icon>
      </button>
    </div>
  </section>

  <section id='number'>
    <h2>Number Input</h2>
    <div *ngFor='let input of mocksNumberInputs | keyvalue'>
      <tcp-editable-input [editableInput]='input.value' class='input-common'></tcp-editable-input>
      <button (click)='showDetail(input.value)' mat-icon-button type='button'>
        <mat-icon>info</mat-icon>
      </button>
    </div>
  </section>

  <section id='decimal'>
    <h2>Decimal Input</h2>
    <div *ngFor='let input of mocksDecimalInputs | keyvalue'>
      <tcp-editable-input [editableInput]='input.value' class='input-common'></tcp-editable-input>
      <button (click)='showDetail(input.value)' mat-icon-button type='button'>
        <mat-icon>info</mat-icon>
      </button>
    </div>
  </section>

  <section id='date'>
    <h2>Date Input</h2>
    <div *ngFor='let input of mocksDateInputs | keyvalue'>
      <tcp-editable-input [editableInput]='input.value' class='input-common'></tcp-editable-input>
      <button (click)='showDetail(input.value)' mat-icon-button type='button'>
        <mat-icon>info</mat-icon>
      </button>
    </div>
  </section>

  <div class='padding-20'>Form valid: {{inputForm.valid}}</div>
  <button [disabled]='!inputForm.valid' color='primary' mat-flat-button>Submit</button>
</form>
