<h2>text-input</h2>
<form #inputForm='ngForm' (ngSubmit)='submitForm()'>
  <div *ngFor='let input of mocksTextInputs | keyvalue'>
    <tcp-editable-input [editableInput]='input.value' class='input-common'></tcp-editable-input>
    <button (click)='showDetail(input.value)' mat-icon-button type='button'>
      <mat-icon>info</mat-icon>
    </button>
  </div>

  <div class='padding-20'>Form valid: {{inputForm.valid}}</div>
  <button [disabled]='!inputForm.valid' color='primary' mat-flat-button>Submit</button>
</form>
