<mat-form-field *ngIf="!!editableInput" class="width-100">
  <mat-label>{{editableInput.StrText}}</mat-label>
  <input matInput #inputElement="matInput"
         *ngIf="!editableInput.isMultiline()"
         [name]="editableInput.StrId || 'editableInput'"
         [(ngModel)]="editableInput.StrValue"
         [type]="editableInput.getType()"
         (ngModelChange)="setValue($event)"
         [required]="!!editableInput.BlnIsRequired"
         [maxLength]="editableInput.IntMaxLength"
         [disabled]="!!editableInput.BlnIsDisabled"
         [readonly]="!editableInput.BlnIsEditable"
         (change)="editableInput.onChange"
         [autocapitalize]="editableInput.getAutoCapitalize()"
         [autocomplete]="editableInput.getAutoCompleteType()"
         [spellcheck]="editableInput.shouldAutoCorrect()"
  >
  <textarea matInput #inputElement="matInput"
            *ngIf="editableInput.isMultiline()"
            [name]="editableInput.StrId || 'editableInput'"
            [(ngModel)]="editableInput.StrValue"
            (ngModelChange)="setValue($event)"
            (change)="editableInput.onChange"
            [required]="!!editableInput.BlnIsRequired"
            [readonly]="!!editableInput.BlnIsEditable"
            [maxLength]="editableInput.IntMaxLength"
            [disabled]="!!editableInput.BlnIsDisabled"
            cdkTextareaAutosize
            [rows]="editableInput.getNumberOfLines()"
  ></textarea>
  <mat-hint>{{editableInput.getHintText(appConfig)}}</mat-hint>
  <mat-error>{{editableInput.getErrorMessage(appConfig)}}</mat-error>
</mat-form-field>
