<div class="text-center">
  <div class="logo"></div>
  <form class="logon-form" *ngIf="!!data">
    <div>
      <mat-form-field appearance="fill" *ngIf="data?.ArrCompanies?.length">
        <mat-label>Select Company</mat-label>
        <mat-select (selectionChange)="selectChangeHandler($event)" *ngIf="data?.ArrCompanies?.length">
          <mat-option *ngFor="let company of data?.ArrCompanies" [value]="company._IntCompanyId">
            {{company._StrName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill" *ngIf="data?.ObjSelectedCompany?.ObjCustomFieldControlModelLogOnId"
                      hintLabel="TODO: Max char warning...">
        <mat-label>{{data?.ObjSelectedCompany?.ObjCustomFieldControlModelLogOnId?.StrText}}</mat-label>
        <input matInput [value]="data?.ObjSelectedCompany?.ObjCustomFieldControlModelLogOnId?.StrValue"
               [required]="data?.ObjSelectedCompany?.ObjCustomFieldControlModelLogOnId?.BlnIsRequired">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill" *ngIf="data?.ObjSelectedCompany?.ObjCustomFieldControlModelLogOnPassword">
        <mat-label>{{data?.ObjSelectedCompany?.ObjCustomFieldControlModelLogOnPassword?.StrText}}</mat-label>
        <input matInput [value]="data?.ObjSelectedCompany?.ObjCustomFieldControlModelLogOnPassword?.StrValue"
               [required]="data?.ObjSelectedCompany?.ObjCustomFieldControlModelLogOnPassword?.BlnIsRequired">
      </mat-form-field>
    </div>
  </form>
</div>
